body{
    font-family:"Times New Roman"
    font-size: 14px;
    color: red;
    background-color: #ffc;
    margin:20;
    padding:0;
    }

p{
  line-height: 21px;
    }

h1{
    color: #ffc;
    background-color: #900;
    font-size: 2em;
    font-style: italic;
    text-align: center;
    letter-pacing: 0.5em;
    margin: 0;
    margin-bottom: 7px;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #c00;
    }

h2 {
   color: white;
   background-color:#090;
   font-size: 1.5em;
   margin:0;
   padding: 2px;
   padding-left: 14px;
}

h3{
   color: #999;
   font-size: 1.25em;
}

img{
    border-style: dashed;
    border-width: 2px;
    border-color: #ccc;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li{
    color: #900
    font-style: italic;
}

table{
    background-color: #ccc;
}
